{% extends "base.html" %}
{% load static %}
{% block title %} Add New Vulnerability {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- [ CVSS Calculator ] -->
<div class="modal fade" id="cvss" tabindex="-1" role="cvss" aria-labelledby="cvss" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addVulnModalLabel">CVSS Version 3.1 Calculator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" id="cvss-form" method="get" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        
                        <div class="col-sm-6 mb-4"> <!-- [ Attack Vector - AV ] -->
                            <div class="form-group">
                                <label>Select Attack Vector (AV)</label>
                                <select name="AV" class="form-control" required>
                                    <option value="">Attack vector</option>
                                    <option value="N">Network</option>
                                    <option value="A">Adjacent</option>
                                    <option value="L">Local</option>
                                    <option value="P">Physical</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 mb-4"> <!-- [ Attack Complexity - AC ] -->
                            <div class="form-group">
                                <label>Attack Complexity (AC)</label>
                                <select name="AC" class="form-control" required>
                                    <option value="">Select Attack complexity</option>
                                    <option value="L">Low</option>
                                    <option value="H">High</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-4"> <!-- [ Privileges Required - PR ] -->
                            <div class="form-group">
                                <label>Privileges Required (PR)</label>
                                <select name="PR" class="form-control" required>
                                    <option value="">Select Privileges required</option>
                                    <option value="N">None</option>
                                    <option value="L">Low</option>
                                    <option value="H">High</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-4">
                            <div class="form-group">
                                <label>User Interaction (UI)</label>
                                <select name="UI" class="form-control" required>
                                    <option value="">Select User interaction</option>
                                    <option value="N">None</option>
                                    <option value="R">Required</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 mb-4">
                            <div class="form-group">
                                <label>Scope (S)</label>
                                <select name="S" class="form-control" required>
                                    <option value="">Select Scope</option>
                                    <option value="U">Unchanged</option>
                                    <option value="C">Changed</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-4">
                            <div class="form-group">
                                <label>Confidentiality (C)</label>
                                <select name="C" class="form-control" required>
                                    <option value="">Select Confidentiality</option>
                                    <option value="N">None </option>
                                    <option value="L">Low </option>
                                    <option value="H">High </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-4">
                            <div class="form-group">
                                <label>Integrity (I)</label>
                                <select name="I" class="form-control" required>
                                    <option value="">Select Integrity</option>
                                    <option value="N">None (N)</option>
                                    <option value="L">Low (L)</option>
                                    <option value="H">High (H)</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-4">
                            <div class="form-group">
                                <label>Availability (A)</label>
                                <select name="A" class="form-control" required>
                                    <option value="">Select Availability</option>
                                    <option value="N">None (N)</option>
                                    <option value="L">Low (L)</option>
                                    <option value="H">High (H)</option>
                                </select>
                            </div>
                        </div>


                        <!-- Results -->
                        <div class="col-sm-4 mb-4">
                            <div class="form-group">
                                <label>Base Score</label>
                                <input class="form-control" type="text" id="base-score" disabled>
                            </div>
                        </div>
                        
                        <div class="col-sm-4 mb-4">
                            <div class="form-group">
                                <label>Temporal Score</label>
                                <input class="form-control" type="text" id="temporal-score" disabled>
                            </div>
                        </div>
                        
                        <div class="col-sm-4 mb-4">
                            <div class="form-group">
                                <label>Environmental Score</label>
                                <input class="form-control" type="text" id="environmental-score" disabled>
                            </div>
                        </div>

                        <div class="col-sm-12 mb-4">
                            <div class="form-group">
                                <label>Results URL</label>
                                <input class="form-control" type="text" id="results-url" disabled>
                            </div>
                        </div>
                        

                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Calculate</button>
                    <button type="button" class="btn btn-primary" id="add_base_score" data-dismiss="modal">Add Base Score</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Add New Vulnerability</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/home"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'assessments' %}">Assessments</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'assessment_vulnerabilities' assessment_id=assessment.id %}">{{assessment}}</a></li>
                                        <li class="breadcrumb-item"><a >Add Vulnerability</a></li>
                                    </ul>
                                </div>
                                
                                {% if  assessment.v_fields.items%}<div class="col-sm-8">{% else %}<div class="col-sm-12">{% endif %}
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Add New Vulnerability - {{assessment.name}}</h5>
                                        </div>
                                        
                                        <div class="card-block">
                                            <div class="row">

                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label>Load vulnerability from components (optional)</label>
                                                        <input type="text" class="form-control" id="search-input" placeholder="Click here to search vulnerabilities..." 
                                                                data-toggle="dropdown" value="{{vuln_to_load.name}}">

                                                        <div class="dropdown-menu" aria-labelledby="vuln-to-load-dropdown" style="max-height: 300px; max-width: 100%;overflow-y: auto;">
                                                            {% for vuln in com_vuln %}
                                                                <a class="dropdown-item vuln-item" href="?vuln_to_load_id={{ vuln.id }}" data-value="{{ vuln.id }}">{{ vuln.name }}</a>
                                                            {% endfor %}
                                                        </div>

                                                    </div>
                                                </div>

                                                    
                                                <div class="col-sm-6 mb-4">
                                                    <form method="post" action="" enctype="multipart/form-data" id="validateForm">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label>Vulnerability name</label>
                                                        <input class="form-control validate-required" type="text" name="v_name" id="v_name"  value="{{vuln_to_load.name}}">
                                                        <span class="validation-message" id="v_name-validation-message"></span>
                                                    </div>
                                                </div> 

                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="add">Vulnerability Tag</label>
                                                        <input class="form-control"  type="phone" name="v_tag">
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="add">Target (Found at)</label>
                                                        <input class="form-control"  type="phone" name="v_target">
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label>Vulnerability Status</label>
                                                        <select name="v_status" class="form-control">
                                                        <option value="Unresolved">Select statuses</option>
                                                        <option value="Unresolved">Unresolved</option>
                                                        <option value="Resolved">Resolved</option>
                                                        </select> 
                                                    </div>
                                                </div>

                                                {% comment %} <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label>CVSS score (1-10)</label>
                                                        <input class="form-control" type="text" name="v_cvss" id="cvss-score" {% if vuln_to_load.cvss == None %} value="" {% elif vuln_to_load.cvss == 0.0 %} value="" {% else %} value="{{vuln_to_load.cvss}}" {% endif %}>
                                                    </div>
                                                </div>  {% endcomment %}
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label>CVSS score (1-10)</label>
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" name="v_cvss" id="cvss-score">
                                                            
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">
                                                                    <a href="" data-toggle="modal" data-target="#cvss">
                                                                        <i class="fa fa-calculator" title="Open CVSS 3.1 Calculator"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                            

                                                        </div>
                                                        <span class="validation-message" id="v_cvss-error"></span>
                                                    </div>
                                                </div>
                                                      
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label>Vulnerability risk rating</label>
                                                        <select name="v_risk_rating" class="form-control" id="risk-rating">
                                                        <option value="">All risk ratings</option>
                                                        <option value="Critical" {% if vuln_to_load.risk_rating == 'Critical' %} selected {% endif %}>Critical</option>
                                                        <option value="High" {% if vuln_to_load.risk_rating == 'High' %} selected {% endif %}>High</option>
                                                        <option value="Medium" {% if vuln_to_load.risk_rating == 'Medium' %} selected {% endif %}>Medium</option>
                                                        <option value="Low" {% if vuln_to_load.risk_rating == 'Low' %} selected {% endif %}>Low</option>
                                                        </select> 
                                                    </div>
                                                </div>
                                                
                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <a href="{% url 'assessment_vulnerabilities' assessment_id=assessment.id %}" class="btn btn-secondary">Back</a>
                                                        <button type="submit" class="btn btn-primary">Add Vulnerability</button>
                                                        {% comment %} <button class="btn drp-icon btn-info" type="button" title="Render Shortcodes" id="render_short_codes"><i class="fas fa-registered"></i></button> {% endcomment %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="card"> <!-- Vulnerability Description Card-->
                                        <div class="card-header">
                                            <h5>Vulnerability Description</h5>
                                        </div>
                                        
                                        <div class="card-block">
                                            <div class="form-group">
                                                <textarea rows="5" class="editor form-control" name="v_description" id="v_description"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card"> <!-- Vulnerability Impact Card-->
                                        <div class="card-header">
                                            <h5>Vulnerability Impact</h5>
                                        </div>
                                        
                                        <div class="card-block">
                                            <div class="form-group">
                                                <textarea rows="5" class="editor form-control" name="v_impact" id="v_impact"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card"> <!-- Vulnerability Remediation Card-->
                                        <div class="card-header">
                                            <h5>Vulnerability Remediation</h5>
                                        </div>
                                        
                                        <div class="card-block">
                                            <div class="form-group">
                                                <textarea rows="5" class="editor form-control" name="v_remediation" id="v_remediation"> </textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card"> <!-- Proof of Concept Card-->
                                        <div class="card-header">
                                            <h5>Proof of Concept</h5>
                                        </div>
                                        
                                        <div class="card-block">
                                            <div class="form-group">
                                                <textarea rows="5" class="editor form-control" name="v_poc_text"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-12 task-detail-right"> <!-- Extra Fileds  -->
                                    {% for key,value in assessment.v_fields.items %}
                                    <div class="card"> 
                                        <div class="card-header">
                                            <h5>{{ key }}</h5>
                                        </div>
                                        
                                        <div class="card-block">
                                            <div class="form-group">
                                                <textarea rows="5" class="editor form-control" name="{{key}}">{{ value }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->
{% endblock content %}


{% block javascripts %}      
<!-- [ Used to filter the vulnerabilities dropdown ]  -->
<script>  
    $(document).ready(function() {
    $("#search-input").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".dropdown-menu a").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
    });
    $(".dropdown-menu a").click(function() {
        $("#search-input").html($(this).text());
        $("select[name='vuln_to_load']").val($(this).data("value"));
    });
    });
</script>

<!-- [ CK editor JS import and create ]  -->
<script src="{% static 'plugins/ck5/build/ckeditor.js'%}"></script>
<script src="{% static 'plugins/ck5/build/custom_image_upload_plugin.js'%}"></script>
<script>
    let vulnDescriptionEditor;
    let vulnImpactEditor;
    let vulnRemediationEditor;
    
    const csrfmiddlewaretoken = '{{ csrf_token }}'
    const for_model = 'AssessmentVulnerability';
    const model_id = '0';

    const editorTextAreas = document.querySelectorAll('.editor');
    editorTextAreas.forEach(textarea => {
        const editor = ClassicEditor.create(textarea, { extraPlugins: [MyCustomUploadAdapterPlugin] })
            .then(newEditor => {
                // Store the CKEditor instances for the respective textareas
                if (textarea.id === 'v_description') {
                    vulnDescriptionEditor = newEditor;
                } else if (textarea.id === 'v_impact') {
                    vulnImpactEditor = newEditor;
                } else if (textarea.id === 'v_remediation') {
                    vulnRemediationEditor = newEditor;
                }
            })
            .catch(handleSampleError);
    });
    function handleSampleError(error) {const issueUrl = 'https://github.com/ckeditor/ckeditor5/issues';const message = ['Oops, something went wrong!',`Please, report the following error on ${issueUrl} with the build id "4v1jdg7xl05e-i6h1ic7gzkvt" and the error stack trace:`].join('\n');console.error(message);console.error(error);}
</script>

<!-- [ Ajax to load vulnerability ]  -->
<script>
    $(document).ready(function() {
        $(".dropdown-item.vuln-item").on("click", function(e) {
            e.preventDefault();

            var vulnId = $(this).data("value");
            // console.log("URL: " + "{% url 'assessment_vulnerabilities_add' assessment_id=assessment.id %}?vuln_to_load_id=" + vulnId),

            $.ajax({
                type: "GET",
                url: "{% url 'assessment_vulnerabilities_add' assessment_id=assessment.id %}?vuln_to_load_id=" + vulnId,
                success: function(response) {
                    // console.log("Response data:", response);
                    $("input[name='v_tag']").val(response.vuln_tag);
                    $("input[id='search-input']").val(response.vuln_name);
                    $("input[name='v_name']").val(response.vuln_name);
                    $("input[name='v_cvss']").val(response.vuln_cvss);
                    $("select[name='v_risk_rating']").val(response.vuln_risk_rating);

                    if (vulnDescriptionEditor) {
                        vulnDescriptionEditor.setData(response.vuln_description);
                    }

                    if (vulnImpactEditor) {
                        vulnImpactEditor.setData(response.vuln_impact);
                    }

                    if (vulnRemediationEditor) {
                        vulnRemediationEditor.setData(response.vuln_remediation);
                    }
                },
                error: function(error) { console.error("Error loading vulnerability: " + error.responseText);}
            });
        });
    });
</script>

<!-- Send data to CVSS Calculator Ajax -->
<script>
    $(document).ready(function() {
        $('#cvss-form').submit(function(e) {
            e.preventDefault();
            var formData = $('#cvss-form').serialize();
            var url = '/assessments/calculate_cvss_31?' + formData;
            $.ajax({
                type: 'GET',
                url: url,
                success: function(response) {
                    // Update the HTML form fields with the calculated scores
                    $('#base-score').val(response.base_score);
                    $('#temporal-score').val(response.temporal_score);
                    $('#environmental-score').val(response.environmental_score);
                    $('#results-url').val(response.results_url);
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script>

<!-- Validate CVSS & evaluate RiskRating & add from calculator -->
<script>
    $(document).ready(function() {
        function calculateRiskRating() {
            const cvssScore = document.getElementById('cvss-score');
            const riskRating = document.getElementById('risk-rating');

            const score = parseFloat(cvssScore.value);

            if (cvssScore.value === '') {
                cvssScore.classList.remove("is-invalid");
                const errorContainer = document.getElementById("v_cvss-error");
                errorContainer.textContent = "";
                riskRating.value = '';
            } else if (score >= 0 && score <= 10) {
                cvssScore.classList.remove("is-invalid");
                const errorContainer = document.getElementById("v_cvss-error");
                errorContainer.textContent = "";
                if (score >= 0 && score <= 3.9) {
                    riskRating.value = 'Low';
                } else if (score >= 4 && score <= 6.9) {
                    riskRating.value = 'Medium';
                } else if (score >= 7 && score <= 8.9) {
                    riskRating.value = 'High';
                } else if (score >= 9 && score <= 10) {
                    riskRating.value = 'Critical';
                } else {
                    riskRating.value = '';
                }
            } else {
                const errorContainer = document.getElementById("v_cvss-error");
                errorContainer.textContent = "vulnerability cvss score must be between 0 and 10";
                cvssScore.classList.add("is-invalid");
                riskRating.value = '';
                cvssScore.value = '';
            }
        }

        $('#add_base_score').click(function() {
            var base_score = $('#base-score').val();

            // Put the data into the target input
            $('#cvss-score').val(base_score);

            // Call the function to calculate risk rating
            calculateRiskRating();
        });

        // Add an event listener to cvss-score input to calculate risk rating on input change
        const cvssScoreInput = document.getElementById('cvss-score');
        cvssScoreInput.addEventListener('input', calculateRiskRating);
    });
</script> 

{% comment %} <script>
    document.addEventListener('DOMContentLoaded', function() {
        const form= document.getElementById('my-main-form');
        form.addEventListener('submit', function(e) {
            form.querySelectorAll(".is-invalid").forEach((element) => {
                element.classList.remove("is-invalid");
            });

            const name= document.getElementById('v_name');
            const validationMessages=[];

            //validate v_name
            if (!isNotEmpty(name.value)) {
                name.classList.add("is-invalid");
                const errorContainer = document.getElementById("v_name-error");
                errorContainer.textContent = "Vulnerability name is required";
                validationMessages.push("Vulnerability name is required");
            }else{
                const errorContainer = document.getElementById("v_name-error");
                errorContainer.textContent = "";
            }

            if (validationMessages.length > 0) {
                e.preventDefault();
            }


        });
        function isNotEmpty(value) {
            return value.trim() !== "";
        }

    });
</script> {% endcomment %}
{% endblock javascripts %}