{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Treat Track {% block title %}{% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Threat-Track: A Collaboration and Reporting Platform for Streamlining and Managing Pentest Assessments" />
    <meta name="author" content="Threat-Track Team"/>

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <!-- animation css -->
    <link rel="stylesheet" href="{% static 'plugins/animation/css/animate.min.css' %}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- dark mode css -->
    <link rel="stylesheet" href="{% static 'css/dark.css' %}">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>
    
    {% block content %}{% endblock content %}

    <!-- Enable the dark mode -->
    <label class="d-none">
        <i class="icon feather icon-sun" id="theme-indicator"></i>
        <input type="checkbox" id="theme-switch" class="d-none">
    </label>

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}    

</body>
</html>
